/* Ticker Styling */
.nb-news-ticker-wrap{
 width: 100%; 
}
.ticker-wrapper.has-js {
    width: 100%;
    height: 32px;
    display: block;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 0.75em;
}
.ticker {
    width: 100% ;
    height:44px;
    display: block;
    position: relative;
    overflow: hidden;
}
.ticker-title {
	padding: 9px 4px;
	text-transform: uppercase;
	position: relative;
	z-index: 10;
	line-height: 25px;
}
.left .ticker-content,.right .ticker-content  {
	margin: 0px ;
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.2em;
	top: 5px;
}
.left .ticker-content {
	padding: 10px 10px 0 0px;
	}
.right .ticker-content {
	padding: 10px 0 0 0;
}

.ticker-content a {
	text-decoration: none;	
}
.ticker-content a:hover {
	text-decoration: underline;	
}
.ticker-swipe {
	padding-top: 10px;
	position: absolute;
	top: 5px;
	display: block;
	width: 100%;
	height: 30px; 
}
.ticker-swipe span {
	margin-left: 1px;
/*	border-bottom: 1px solid #1F527B;*/
	height: 12px;
	width: 7px;
	display: block;
}

.js-hidden {
	display: none;
}
.no-js-news {
	padding: 10px 0px 0px 45px; 
}
.left .ticker-swipe {
	/*left: 80px;*/
}
.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
    float: left;
}
.left .ticker-controls {
    padding-left: 6px;
}
.right .ticker-swipe {
	/*right: 80px;*/
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
    float: right;
}
.right .ticker-controls {
    padding-right: 6px;
}
.nb-notice-wrap .left .nb-right-arw::after {
    left: 100%;
    margin-top: -21px;
    border-right: 10px solid transparent;
    border-left: 10px solid;
}
.nb-notice-wrap .left .nb-right-arw::after, .nb-notice-wrap .right .nb-right-arw::before {
   width: 0;
    height: 0;
    display: block;
    content: '';
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
   
}
 .nb-notice-wrap .right .nb-right-arw::before{
 	 right: 100%;
    border-right: 10px solid;
 }
